body {
    margin: 0 auto;
    width: 100%;
    color: white;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/047668fb-fcf5-4f67-8225-d13cc4435f67/dbip952-3d173e88-e826-47b5-9e96-bb249498e58a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMDQ3NjY4ZmItZmNmNS00ZjY3LTgyMjUtZDEzY2M0NDM1ZjY3XC9kYmlwOTUyLTNkMTczZTg4LWU4MjYtNDdiNS05ZTk2LWJiMjQ5NDk4ZTU4YS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.eZ196z93TAAc2i0l63VjrTren2zncLN3PmzCt6pMYjs');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-bottom: 3px solid yellow;
}

h1 {
    margin: 0 10%;
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gthieu {
    display: block;
    text-align: center;
    color: white;
    padding: 0 20px;
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px;
}

footer {
    background-color: black;
    border-top: 3px solid yellow;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

footer img {
    width: 50px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px 10px;
}

footer a:hover {
    opacity: 0.8;
}

h3 {
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5px;
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 3% 3%;
}

.back {
    text-align: center;
    width: 10%;
    color: #fff;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
}

.back:hover {
    background-color: red;
}

.eyes {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10% 0;
}

.eye {
    padding: 0;
    width: 30%;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 5%;
    border-radius: 60%;
    border: 2px solid black;
    border-top: 12px solid black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 1s all;
}

.ball {
    width: 50px;
    height: 50px;
    background: #000;
    position: absolute;
    border-radius: 50%;
    border: 15px solid rgb(255, 0, 0);
}

.shut {
    width: 130%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.shut span {
    display: block;
    width: 90%;
    height: 0%;
    background: #000;
    border-radius: 90% 90%;
    transition: 0.5s all;
}

.eye:hover>.shut span {
    height: 100%;
}

.eye:hover {
    background: rgb(0, 0, 0);
}

.eye:hover .chat p span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    content: 'Aah! dont touch my eye..';
    color: white;
}

@media only screen and (max-width: 550px) {
    .eye {
        padding: 0;
        width: 30%;
        height: 50px;
        background: #fff;
        display: inline-block;
        margin: 5%;
        border-radius: 60%;
        border: 2px solid black;
        border-top: 8px solid black;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 1s all;
    }
    .ball {
        width: 20px;
        height: 20px;
        background: #000;
        position: absolute;
        border-radius: 50%;
        border: 8px solid rgb(255, 0, 0);
    }
    .eye:hover .chat p span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
        content: 'Aah! dont touch my eye..';
        color: white;
        font-size: 8px;
    }
}