body {
    cursor: url('https://png.pngitem.com/pimgs/s/191-1912403_intentions-of-space-exploration-rocket-cursor-hd-png.png'), pointer;
    margin: 0 auto;
    color: white;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2daddf3c-add4-4a2b-880d-064be6821c92/dglksej-3ed5f398-b5c8-4d98-b908-43438b2964f2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJkYWRkZjNjLWFkZDQtNGEyYi04ODBkLTA2NGJlNjgyMWM5MlwvZGdsa3Nlai0zZWQ1ZjM5OC1iNWM4LTRkOTgtYjkwOC00MzQzOGIyOTY0ZjIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.bxIHtLdJMge5rLi2vf8I4OD6fJr5XSKJXUHbofhWDT8');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    cursor: url("Assets/rocket.png"), pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, orange, yellow, green, cyan, blue, violet, transparent);
}

header {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-bottom: 3px solid yellow;
}

h1 {
    margin: 0 10%;
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover {
    cursor: url("Assets/rocket.png"), pointer;
}

.gthieu {
    display: block;
    text-align: center;
    color: white;
    padding: 0 20px;
    margin: 30px auto;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s all;
}

.gthieu:hover {
    font-size: 28px;
    color: aqua;
    -webkit-text-stroke: 1.5px black;
}

footer {
    background-color: black;
    border-top: 3px solid yellow;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

footer img {
    background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    width: 50px;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 5px 10px;
    transition: 0.5s all;
}

footer img:hover {
    width: 54px;
    border: 4px solid aqua;
}


h3 {
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5px;
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 3% 3%;
}

.back {
    text-align: center;
    width: 10%;
    color: #fff;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
    transition: 0.5s all;
}

.back:hover {
    background-color: red;
    font-size: 22px;
}

.eyes {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10% 0;
}

.eye {
    padding: 0;
    width: 30%;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 5%;
    border-radius: 60%;
    border: 2px solid black;
    border-top: 12px solid black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 1s all;
    cursor: url("Assets/rocket.png"), pointer;
}

.ball {
    width: 50px;
    height: 50px;
    background: #000;
    position: absolute;
    border-radius: 50%;
    border: 15px solid rgb(255, 0, 0);
}

.shut {
    width: 130%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.shut span {
    display: block;
    width: 90%;
    height: 0%;
    background: #000;
    border-radius: 90% 90%;
    transition: 0.5s all;
}

.eye:hover>.shut span {
    height: 100%;
}

.eye:hover {
    background: rgb(0, 0, 0);
}

.chat p span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    color: white;
    transition: 2s all;
    content: '';
}

.eye:hover .chat p span::after {
    content: 'Aah! dont touch my eye..';
}

@media only screen and (max-width: 550px) {
    .eye {
        padding: 0;
        width: 30%;
        height: 50px;
        background: #fff;
        display: inline-block;
        margin: 5%;
        border-radius: 60%;
        border: 2px solid black;
        border-top: 8px solid black;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: 1s all;
    }

    .ball {
        width: 20px;
        height: 20px;
        background: #000;
        position: absolute;
        border-radius: 50%;
        border: 8px solid rgb(255, 0, 0);
    }

    .eye:hover .chat p span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2000;
        content: 'Aah! dont touch my eye..';
        color: white;
        font-size: 8px;
    }
}