body {
    margin: 0 auto;
    color: white;
    background-image: url('Assets/background2.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    cursor: url("Assets/rocket.png"), auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, orange, yellow, green, cyan, blue, violet, transparent);
}

.achievement ul::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, blue, transparent);
}

.notshow {
    display: none;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #2f3640;
    bottom: 4%;
    right: 5%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 40px;
    -webkit-text-stroke: 2px white;
    margin: 2% auto;
    padding-left: 7%;
    background: -webkit-linear-gradient(135deg, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: flex;
}

footer div {
    width: 50%;
}

footer h3 {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-left: 25px;
}

footer img {
    background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    width: 50px;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 5px 10px;
    transition: 0.5s all;
}

footer img:hover {
    width: 54px;
    /* background: linear-gradient(to bottom right, #2c90fc 0%, #b8fd33 25%, #fec837 50%, #fd1892 75%, #b827fc 100%); */
    /* border-image: linear-gradient(to bottom right, #2c90fc 0%, #b8fd33 25%, #fec837 50%, #fd1892 75%, #b827fc 100%); */
}

main {
    margin: 0 auto;
    padding: 0 20px 3% 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

h2 {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 27px;
    transition: 0.5s all;
}

h2:hover {
    font-size: 30px;
}

h3 {
    background: -webkit-linear-gradient(135deg, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.info {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.info p {
    margin: 0;
    transition: 0.5s all;
}

.info p:hover {
    font-size: 21px;
}

.image-info img {
    width: 100%;
    opacity: 0;
}

.image-info {
    width: 50%;
    float: right;
    background-size: 104%;
    animation: slider 12s infinite ease-in;
    margin: 2% 5% 0 0;
    transition: 0.5s all;
}

@keyframes slider {
    0% {
        box-shadow: 1px 1px 10px 10px rgb(0, 0, 0);
        background-image: url('Assets/background2.gif');
    }

    25% {
        box-shadow: 1px 1px 10px 10px rgb(0, 132, 255);
        background-image: url('Assets/background3.gif');
    }

    50% {
        box-shadow: 1px 1px 10px 10px rgb(0, 0, 0);
        background-image: url('Assets/background4.gif');
    }

    75% {
        box-shadow: 1px 1px 10px 10px rgb(0, 132, 255);
        background-image: url('Assets/background6.gif');
    }

    100% {
        box-shadow: 1px 1px 10px 10px rgb(0, 0, 0);
        background-image: url('Assets/background2.gif');
    }
}

.personal-info {
    padding: 2% 3% 0 3%;
    font-size: 120%;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.achievement {
    text-align: center;
    clear: both;
}

.achievement div {
    display: inline-block;
    width: 28%;
    border: 3px solid white;
    margin: 0 1%;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.achievement h3 {
    border-bottom: 3px solid white;
    padding: 5% 0;
    font-size: 20px;
}

ul {
    margin: 0 0 1% 1%;
    overflow-y: scroll;
    text-align: left;
    height: 380px;
    padding-left: 10%;
}

li {
    margin: 5% 0;
    padding-left: 5px;
    transition: 0.5s all;
}

::marker {
    content: '🥇';
}

a {
    color: red;
    text-decoration: none;
    transition: 0.5s all;
}

a:hover {
    color: aqua;
    cursor: url("Assets/rocket.png"), pointer;
}

.additional-info {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.language-progress {
    width: 55%;
    float: left;
    height: 300px;
}

.ghost {
    width: 45%;
    float: right;
    height: 300px;
    cursor: url("Assets/cheese.png"), auto;
}

.additional-info p {
    margin: 13px 0 0 0;
    font-weight: bold;
}

.grey {
    background-color: gray;
    height: 0.5rem;
    margin-bottom: 10px
}

.red {
    width: 90%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: red;
}

.orange {
    width: 85%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: orange;
}

.green {
    width: 70%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: rgb(1, 116, 1);
}

.yellow {
    width: 40%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: yellow;
    cursor: url("Assets/cheese.png"), auto;
}

.blue {
    width: 75%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: rgb(42, 39, 177);
}

.aqua {
    width: 50%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: aqua;
}

.ma {
    padding: 0;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost-body {
    width: 140px;
    height: 180px;
    background-color: #f2f2f2;
    border-radius: 70px 70px 0 0;
    position: relative;
    cursor: pointer;
    animation: floating 2s infinite ease-in-out;
}

@keyframes floating {
    50% {
        transform: translateY(-30px);
    }
}

.face {
    width: 100px;
    position: absolute;
    top: 40px;
    left: calc(50% - 50px);
}

.eyes {
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.eyes span {
    width: 24px;
    height: 24px;
    background-color: #2c3a47;
    border-radius: 50%;
    transition: .1s linear;
}

.ghost-body:hover {
    cursor: url("cheese.png"), auto;
    background-color: rgb(255, 81, 0);
}

.ghost-body:hover .hands span {
    background-color: rgb(255, 81, 0);
}

.ghost-body:hover .feet span {
    background-color: rgb(255, 81, 0);
}

.ghost-body:hover .eyes span:last-child {
    width: 0;
    height: 0;
    border-left: 18px solid rgb(255, 81, 0);
    border-top: 18px solid rgb(255, 81, 0);
    border-right: 18px solid #000000;
    border-bottom: 18px solid #000000;
}

.ghost-body:hover .eyes span:first-child {
    width: 0;
    height: 0;
    border-left: 18px solid #000000;
    border-top: 18px solid rgb(255, 81, 0);
    border-right: 18px solid rgb(255, 81, 0);
    border-bottom: 18px solid #000000;
}

.mouth {
    width: 40px;
    height: 20px;
    background-color: #2c3a47;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.ghost-body:hover .mouth {
    width: 50px;
    height: 25px;
    border-radius: 0 0 25px 25px;
    background-color: #000000;
}

.hands {
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.hands span {
    width: 20px;
    height: 30px;
    background-color: #f2f2f2;
}

.hands span:first-child {
    border-radius: 20px 0 0 20px;
}

.hands span:last-child {
    border-radius: 0 20px 20px 0;
}

.feet {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.feet span {
    flex: 1;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
}

.feet span:first-child {
    border-radius: 0 0 20px 12px;
}

.feet span:last-child {
    border-radius: 0 0 12px 20px;
}

@media only screen and (max-width: 1023px) {
    .achievement div {
        display: block;
        width: 90%;
        border: 3px solid white;
        margin: 5% auto;
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    }

    .personal-info {
        padding: 0 3%;
        font-size: 100%;
        text-align: left;
    }

    .info p:hover {
        font-size: 17px;
    }
}

@media only screen and (max-width: 550px) {
    .achievement div {
        display: block;
        width: 90%;
        border: 3px solid white;
        margin: 5% auto;
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    }

    .personal-info {
        padding: 0 3%;
        font-size: 100%;
        text-align: left;
    }

    .info p:hover {
        font-size: 17px;
    }

    .image-info {
        width: 95%;
        margin: 0 2%;
        margin-bottom: 20px;
        background-size: 104%;
        box-shadow: 1px 2px 10px 10px white;
        animation: slider 10s infinite linear
    }

    .image-info:hover {
        width: 97%;
    }

    .additional-info {
        width: 90%;
        display: flex;
        flex-direction: column
    }

    .language-progress {
        width: 100%;
        margin-bottom: 10px;
    }

    .ghost {
        width: 100%;
        height: 320px;
    }

    footer {
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer h3 {
        width: 80%;
        text-align: center;
    }

    footer div {
        width: 80%;
        margin: 0 auto;
    }
}