body {
    margin: 0 auto;
    color: white;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/047668fb-fcf5-4f67-8225-d13cc4435f67/dbip952-3d173e88-e826-47b5-9e96-bb249498e58a.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMDQ3NjY4ZmItZmNmNS00ZjY3LTgyMjUtZDEzY2M0NDM1ZjY3XC9kYmlwOTUyLTNkMTczZTg4LWU4MjYtNDdiNS05ZTk2LWJiMjQ5NDk4ZTU4YS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.eZ196z93TAAc2i0l63VjrTren2zncLN3PmzCt6pMYjs');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #2f3640;
    bottom: 4%;
    right: 5%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    opacity: 0.8;
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    margin: 2% auto;
    padding-left: 7%;
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-box {
    margin: 1%;
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 60%;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
    color: #2f3640;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn>i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

footer {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 0 20px 3% 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

h2 {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

h3 {
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.mot {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.mot p {
    margin: 0;
}

.mot_hai img {
    width: 100%;
    opacity: 0;
}

.mot_hai {
    width: 50%;
    float: right;
    background-size: 104%;
    animation: slider 10s infinite linear;
    margin: 2% 5% 0 0;
}

@keyframes slider {
    0% {
        box-shadow: 1px 1px 10px 10px rgb(0, 0, 0);
        background-image: url('https://scontent.fhan5-2.fna.fbcdn.net/v/t1.6435-9/104632226_2710640729164713_2634655834685403423_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=e3f864&_nc_ohc=uQYG16AAsMcAX9TGR1H&_nc_ht=scontent.fhan5-2.fna&oh=adf59014f2ebbf165ef6e48c9b1c1b00&oe=60AA8BF6');
    }
    20% {
        box-shadow: 1px 1px 10px 10px rgb(0, 132, 255);
        background-image: url('https://scontent.fhan5-4.fna.fbcdn.net/v/t1.6435-9/65113704_2400330620195727_2208253574062800896_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=19026a&_nc_ohc=KBKlpjd96FMAX-gWZ47&_nc_ht=scontent.fhan5-4.fna&oh=b256c7265857d9f48972c587ab41de0c&oe=60B110E4');
    }
    40% {
        box-shadow: 1px 1px 10px 10px rgb(255, 0, 0);
        background-image: url('https://scontent-hkg4-1.xx.fbcdn.net/v/t1.15752-9/181949613_1155130804956451_5127515437818278629_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=ae9488&_nc_ohc=SaIMW4xHYzAAX_Im3W3&_nc_ht=scontent-hkg4-1.xx&oh=cd0fe0452f2ae804054eb75569172235&oe=60B79237');
    }
    60% {
        box-shadow: 1px 1px 10px 10px rgb(255, 0, 128);
        background-image: url('https://scontent.fhan5-2.fna.fbcdn.net/v/t1.15752-9/182438620_218227646734361_6191217757020270656_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=ae9488&_nc_ohc=a_9LM7QaVtYAX9yCFWe&_nc_ht=scontent.fhan5-2.fna&oh=db664643b173c8b722d065e6164d5a43&oe=60B4FFBA');
    }
    80% {
        box-shadow: 1px 1px 10px 10px rgb(0, 190, 0);
        background-image: url('https://scontent.fhan5-7.fna.fbcdn.net/v/t1.15752-9/182646199_493666412071570_4504742756850273981_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=ae9488&_nc_ohc=bIe7S6R2JsIAX9gf-6L&_nc_ht=scontent.fhan5-7.fna&oh=e469964b3d7c619666ee4d9bc59c1ea7&oe=60B56DF5');
    }
    100% {
        box-shadow: 1px 1px 10px 10px rgb(0, 0, 0);
        background-image: url('https://scontent.fhan5-2.fna.fbcdn.net/v/t1.6435-9/104632226_2710640729164713_2634655834685403423_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=e3f864&_nc_ohc=uQYG16AAsMcAX9TGR1H&_nc_ht=scontent.fhan5-2.fna&oh=adf59014f2ebbf165ef6e48c9b1c1b00&oe=60AA8BF6');
    }
}

.mot_mot {
    padding: 2% 3% 0 3%;
    font-size: 120%;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

footer img {
    width: 50px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px 10px;
}

footer a:hover {
    opacity: 0.8;
}

.hai {
    text-align: center;
    clear: both;
}

.hai div {
    display: inline-block;
    width: 28%;
    border: 3px solid white;
    margin: 0 1%;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.hai h3 {
    border-bottom: 3px solid white;
    padding: 5% 0;
    font-size: 20px;
}

ul {
    margin: 0 0 1% 1%;
    overflow-y: scroll;
    text-align: left;
    height: 380px;
    padding-left: 10%;
}

li {
    margin: 5% 0;
    padding-left: 5px;
}

::marker {
    content: '🥇';
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: aqua;
    font-weight: bold;
}

.bon {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.bonmot {
    width: 55%;
    float: left;
    height: 300px;
}

.bonhai {
    width: 45%;
    float: right;
    height: 300px;
}

.bon p {
    margin: 13px 0 0 0;
    font-weight: bold;
}

.grey {
    background-color: gray;
    height: 0.5rem;
    margin-bottom: 10px
}

.red {
    width: 90%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: red;
}

.orange {
    width: 80%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: orange;
}

.green {
    width: 70%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: rgb(1, 116, 1);
}

.yellow {
    width: 40%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: yellow;
}

.blue {
    width: 60%;
    height: 0.5rem;
    text-align: center;
    color: white;
    background-color: rgb(42, 39, 177);
}

.ma {
    padding: 0;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ghost {
    width: 140px;
    height: 180px;
    background-color: #f2f2f2;
    border-radius: 70px 70px 0 0;
    position: relative;
    cursor: pointer;
    animation: floating 2s infinite ease-in-out;
}

@keyframes floating {
    50% {
        transform: translateY(-30px);
    }
}

.face {
    width: 100px;
    position: absolute;
    top: 40px;
    left: calc(50% - 50px);
}

.eyes {
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 14px;
}

.eyes span {
    width: 24px;
    height: 24px;
    background-color: #2c3a47;
    border-radius: 50%;
    transition: .1s linear;
}

.ghost:hover {
    background-color: rgb(255, 81, 0);
}

.ghost:hover .hands span {
    background-color: rgb(255, 81, 0);
}

.ghost:hover .feet span {
    background-color: rgb(255, 81, 0);
}

.ghost:hover .eyes span:last-child {
    width: 0;
    height: 0;
    border-left: 18px solid rgb(255, 81, 0);
    border-top: 18px solid rgb(255, 81, 0);
    border-right: 18px solid #000000;
    border-bottom: 18px solid #000000;
}

.ghost:hover .eyes span:first-child {
    width: 0;
    height: 0;
    border-left: 18px solid #000000;
    border-top: 18px solid rgb(255, 81, 0);
    border-right: 18px solid rgb(255, 81, 0);
    border-bottom: 18px solid #000000;
}

.mouth {
    width: 40px;
    height: 20px;
    background-color: #2c3a47;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: .3s linear;
}

.ghost:hover .mouth {
    width: 50px;
    height: 25px;
    border-radius: 0 0 25px 25px;
    background-color: #000000;
}

.hands {
    width: 180px;
    position: absolute;
    left: -20px;
    top: 80px;
    display: flex;
    justify-content: space-between;
}

.hands span {
    width: 20px;
    height: 30px;
    background-color: #f2f2f2;
}

.hands span:first-child {
    border-radius: 20px 0 0 20px;
}

.hands span:last-child {
    border-radius: 0 20px 20px 0;
}

.feet {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
}

.feet span {
    flex: 1;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
}

.feet span:first-child {
    border-radius: 0 0 20px 12px;
}

.feet span:last-child {
    border-radius: 0 0 12px 20px;
}

@media only screen and (max-width: 1023px) {
    .hai div {
        display: block;
        width: 90%;
        border: 3px solid white;
        margin: 5% auto;
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    }
    .mot_mot {
        padding: 0 3%;
        font-size: 100%;
        text-align: left;
    }
}

@media only screen and (max-width: 550px) {
    .hai div {
        display: block;
        width: 90%;
        border: 3px solid white;
        margin: 5% auto;
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    }
    .mot_mot {
        padding: 0 3%;
        font-size: 100%;
        text-align: left;
    }
    .mot_hai {
        width: 95%;
        margin: 0 2%;
        margin-bottom: 20px;
        background-size: 104%;
        box-shadow: 1px 2px 10px 10px white;
        animation: slider 10s infinite linear
    }
    .bon {
        width: 90%;
        display: flex;
        flex-direction: column
    }
    .bonmot {
        width: 100%;
        margin-bottom: 10px;
    }
    .bonhai {
        width: 100%;
        height: 320px;
    }
}