body {
    background-color: black;
    margin: 0 auto;
    color: white;
}

header {
    background-color: rgb(46, 48, 48);
    text-align: center;
    border-bottom: 1px solid yellow;
}

h1 {
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: rgb(46, 48, 48);
    margin: 0 auto;
    padding: 10px;
    text-align: center
}

main {
    background-color: rgb(46, 48, 48);
    margin: 20px auto;
    border-bottom: 1px solid yellow;
    padding: 0 20px 3% 20px;
}

h2 {
    text-align: center;
    padding: 15px;
}

h3 {
    background: -webkit-linear-gradient(135deg, orange 30%, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.mot {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.mot p {
    margin: 0;
}

.mot_hai img {
    width: 95%;
    opacity: 0;
}

.mot_hai {
    width: 50%;
    float: right;
    background-size: 100%;
    box-shadow: 1px 1px 10px 10px white;
    animation: slider 10s infinite linear;
    margin-right: 1%;
}

@keyframes slider {
    0% {
        background-image: url('https://scontent.fhan5-2.fna.fbcdn.net/v/t1.6435-9/104632226_2710640729164713_2634655834685403423_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=e3f864&_nc_ohc=uQYG16AAsMcAX9TGR1H&_nc_ht=scontent.fhan5-2.fna&oh=adf59014f2ebbf165ef6e48c9b1c1b00&oe=60AA8BF6');
    }
    35% {
        background-image: url('https://scontent.fhan5-4.fna.fbcdn.net/v/t1.6435-9/65113704_2400330620195727_2208253574062800896_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=19026a&_nc_ohc=KBKlpjd96FMAX-gWZ47&_nc_ht=scontent.fhan5-4.fna&oh=b256c7265857d9f48972c587ab41de0c&oe=60B110E4');
    }
    75% {
        background-image: url('https://scontent.fhan5-7.fna.fbcdn.net/v/t1.6435-9/68274432_2420115558217233_4862313565060595712_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=ZfKuHNn7KoQAX-gSUYl&_nc_ht=scontent.fhan5-7.fna&oh=a52162e3a746731d62b5a368be282ae8&oe=60B0A626');
    }
}

.mot_mot {
    padding: 0 3%;
    font-size: 120%;
    text-align: left;
}

footer img {
    width: 50px;
    border: 4px solid white;
    border-radius: 10px;
    margin: 5px;
}

.hai {
    text-align: center;
    clear: both;
}

.hai div {
    display: inline-block;
    overflow: scroll;
    text-align: left;
    height: 385px;
    width: 28%;
    border: 1px solid white;
    padding: 1%;
    margin: 0 1%;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

ul {
    padding: 0 5% 5% 9%;
    margin: 0 auto;
}

li {
    margin: 5% 0;
    padding-left: 5px;
}

::marker {
    content: '🥇';
}

a {
    color: red;
    text-decoration: none;
}

@media only screen and (max-width: 1023px) {
    .hai div {
        display: block;
        overflow: scroll;
        text-align: left;
        height: 385px;
        width: 90%;
        border: 1px solid white;
        padding: 1%;
        margin: 5% auto;
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    }
    .mot_mot {
        padding: 0 3%;
        font-size: 100%;
        text-align: left;
    }
}

@media only screen and (max-width: 415px) {
    .hai div {
        display: block;
        overflow: scroll;
        text-align: left;
        height: 385px;
        width: 90%;
        border: 1px solid white;
        padding: 1%;
        margin: 5% auto;
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    }
    .mot_mot {
        padding: 0 3%;
        font-size: 100%;
        text-align: left;
    }
    .mot_hai {
        width: 95%;
        margin: 0 2%;
        margin-bottom: 20px;
        background-size: 100%;
        box-shadow: 1px 2px 10px 10px white;
        animation: slider 10s infinite linear
    }
}